<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sagot.go4lunch">

    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <!-- Using by Network Provider Wifi or Data phone -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Using By Network Provider and Gps Provider -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Using for Call Number -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Using for make internet requests -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lunch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_lunch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google Maps Api Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}"/>

        <!-- MAIN Activity -->
        <activity
            android:name=".Controllers.Activities.MainActivity"
            android:theme="@style/AppTheme.Main"> <!-- Change color status Bar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WELCOME Activity -->
        <activity android:name=".Controllers.Activities.WelcomeActivity"></activity>

        <!-- RESTAURANT CARD Activity -->
        <activity
            android:name=".Controllers.Activities.RestaurantCardActivity"
            android:theme="@style/AppTheme.RestaurantCard"> <!-- Change color status Bar -->
        </activity>

        <!-- WEB VIEW Activity -->
        <!-- A child of the Welcome Activity -->
        <activity
            android:name=".Controllers.Activities.WebViewActivity"
            android:label="@string/manifest_web_view_activity_label"
            android:parentActivityName=".Controllers.Activities.WelcomeActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controllers.Activities.WelcomeActivity" />
        </activity>

        <!-- Notification Permission -->
        <receiver
            android:name=".notifications.NotificationsAlarmReceiver"
            android:exported="true"/>

        <activity android:name=".Controllers.Activities.SettingsActivity"></activity>


    </application>

</manifest>